/* *********************************************************
- Project: "Aurora" - Custom Firefox UI Enhancements *
- Author: Zach Tancrell [https://github.com/ztancrell] *
- Description: Hidden Titlebar & Button Fix *
- Version: 1.0 *
********************************************************* 
- About:Config Flags
- toolkit.legacyUserProfileCustomizations.stylesheets = true
- svg.context-properties.content.enabled = true
************************************************************ */

/* Hide tab bar items when tabs are in titlebar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
	opacity: 0;
	pointer-events: none;
	border-inline-end: none;
}

/* Hide tab bar when tabs are not in titlebar */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
	visibility: collapse !important;
}

/* Hide titlebar */
#titlebar {
	appearance: none !important;
	height: 0px !important;
	border: none !important;
}

/* Fix for main menu calling by Alt button */
#titlebar > #toolbar-menubar {
	visibility: collapse !important;
}

/* OPTIONAL: If you want to hide window action buttons entirely, you can hide the container */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
}

/* Remove margin reserved for the buttons */
#nav-bar {
	margin-right: 0 !important;
}
